{% extends 'base.html.twig' %}

{% block content %}
    <div class="container pt-5">
            <h5 class="card-title  col-7 mt-5"> Annonces Ulm pendulaire</h5>

        <hr>
        <div class="row">
            <div class="col-8 ml-5 mt-3">
                {{ form_start(form) }}
                {{ form_row(form.search) }}
            </div>
            <div class="col-2 mt-3">
                {{ form_row(form.Rechercher) }}
                {{ form_end(form) }}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2 mt-1">
                <div class="btn btn-primary btn-sm"><i
                            class="fas fa-sort"></i> {{ knp_pagination_sortable(announces, 'Trier par prix','Price') }}
                </div>
            </div>
            <div class="col-2 mt-1">
                <div class="btn btn-primary btn-sm"><i
                            class="fas fa-sort"></i> {{ knp_pagination_sortable(announces, 'Trier par date','Price') }}
                </div>
            </div>
            <div class="col-3 mt-1">
                {{ form_start(form,{'attr':{'onChange':'submit()' }}) }}
                {{ form_row(form2.filter) }}
                {{ form_end(form) }}
            </div>
        </div>

        <hr class="mb-4">
        <ul class="cards mt-3">
            {% for announce in announces %}
                <li class="cards_item ">
                    <div class="card">
                        <div class="card_image">
                            <img src="{{ asset('images/products/' ~ announce.picture) }}" class=" img-announce">
                        </div>
                        <div class="card_content">
                            <h5 class="card-title"> {{ announce.model }} - {{ announce.price }}€</h5>
                            <p>Posté le: {{ announce.DatePost.date|date("d/m/Y") }}</p>
                            <a href="{{ path('announce_show', {'id': announce.id}) }}" class="card_button">Voir
                                l'annonce</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="navigation d-flex justify-content-center">
            {{ knp_pagination_render(announces) }}
        </div>
    </div>
{% endblock %}

