{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                {% if announce.picture2 is not null %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                {% endif %}
                {% if announce.picture3 is not null %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                {% endif %}
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="img-responsive w-100 text-center"
                         src="{{ asset('images/products/' ~ announce.picture) }}"
                         alt="{{ announce.picture }}"></div>
                {% if announce.picture2 is not null %}
                    <div class="carousel-item">
                        <img class="img-responsive w-100 text-center"
                             src="{{ asset('images/products/' ~ announce.picture2) }}"
                             alt="{{ announce.picture }}">
                    </div>
                {% else %}
                {% endif %}
                {% if announce.picture3 is not null %}
                    <div class="carousel-item">
                        <img class="img-responsive w-100 text-center"
                             src="{{ asset('images/products/' ~ announce.picture3) }}"
                             alt="{{ announce.picture }}">
                    </div>
                {% endif %}
            </div>
            {% if announce.picture2 is not null %}
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            {% endif %}
        </div>

        <hr>
        <h5 class="card-title text-center">{{ announce.marque }} - {{ announce.model }} - {{ announce.price }}€</h5>
        <hr>
        <p><strong> {{ announce.state.state }}</strong> / Post|é le: {{ announce.DatePost.date|date("m/d/Y") }};</p>
        <p>
            <strong> Parachute: </strong>{% if announce.parachute == 1 %} Oui {% else %} Non {% endif %}
            <strong class="ml-3"> |
                Transpondeur: </strong>{% if announce.transponder == 1 %} Oui {% else %} Non {% endif %}
            <strong class="ml-3"> | Heures de
                vols: </strong>{% if announce.nbrHvol is defined %} {{ announce.nbrHvol }} heures{% else %} Non renseigées. {% endif %}
            <strong class="ml-3"> | Année
                de
                construction: </strong>{% if announce.yearUlm is defined %} {{ announce.yearUlm }} {% else %} Non renseigné. {% endif %}
            <strong class="ml-3">| Vitesse
                maxi: </strong>{% if announce.vitesseMax %} {{ announce.vitesseMax }} km/h {% else %} Non renseignées. {% endif %}

        </p>
        <p class="mb-5 text-justify"><strong>Description:</strong> {{ announce.description|nl2br }}</p>
        <div class="pb-5">
            <a href="{{ path('announce_pendulaires') }}" class="btn btn-dark float-left">
                <i class="fas fa-chevron-left"></i> Retour aux annonces</a>
            {% if app.user is not null %}
                <a href="{{ path('contact', {'id': announce.id}) }}" class="btn btn-primary float-right"><i
                            class="far fa-envelope"></i>
                    Contacter le vendeur</a>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {% set thisAnnounce = 0 %}
                    {% set idFavorite = "" %}
                    {% for favorite in favorite %}
                        {% if favorite.announce.id == announce.id %}
                            {% if favorite.active == 1 %}
                                {% set thisAnnounce = 1 %}
                                {% set idFavorite = favorite.id %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if thisAnnounce == 0 %}
                        <a href="{{ path('favorite_new', { 'id': announce.id } ) }}"
                           class="btn btn-primary float-right ml-2" id="fav">
                            <i class="far fa-heart"></i> Ajouter dans mes favoris</a>
                    {% else %}
                        <a href="{{ path('favorite_defav', { 'id': idFavorite } ) }}"
                           class="btn btn-primary float-right ml-2" id="fav">
                            <i class="fas fa-heart text-warning"></i> Supprimer des favoris </a>
                    {% endif %}
                {% endif %}
            {% else %}
                <a href="{{ path('security_login') }}" class="btn btn-primary float-right">
                    <i class="far fa-address-card"></i>
                    Connectez vous pour contacter le vendeur</a>
            {% endif %}

        </div>
    </div>
{% endblock %}