{% extends 'base.html.twig' %}

{% block title %}FCategorie{% endblock %}

{% block body %}
    <h1>FCategorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ f_categorie.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ f_categorie.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('f_categorie_index') }}">back to list</a>

    <a href="{{ path('f_categorie_edit', {'id': f_categorie.id}) }}">edit</a>

    {{ include('f_categorie/_delete_form.html.twig') }}
{% endblock %}