{% extends 'base.html.twig' %}

{% block content %}
    <div class="container pt-5">
        <h5 class="card-title col-7 mt-5"> Voir tous les sujets</h5>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Sujet</th>
                <th>Date du poste</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for f_topic in f_topics %}
                <tr>
                    <td class="col-8">{{ f_topic.subject }}</td>
                    <td>{{ f_topic.datePost ? f_topic.datePost|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('f_message_index', {'id': f_topic.id}) }}" class="btn btn-sm bg-dark">Voir les messages</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('f_categorie_index') }}" class="btn btn-sm bg-dark">Retour</a>
        <a href="{{ path('f_topics_new') }}" class="btn btn-sm bg-dark">Ajouter un nouveau topic</a>
    </div>
{% endblock %}