{% extends 'base.html.twig' %}
    {% block content %}
        {% block forum %}
            {% include '@YosimitsoWorkingForum/Common/header.html.twig' %}
            {% trans_default_domain 'YosimitsoWorkingForumBundle' %}
            <div class="container pt-5">
            <div id="wf_forum_content">
            {% include '@YosimitsoWorkingForum/Common/flashmsg.html.twig' %}
            {% include '@YosimitsoWorkingForum/Common/breadcrumb.html.twig' with {'subforum': subforum, 'thread': thread} only %}

            {% if forbidden is defined and forbidden %}
            <div class="wf_forum">
                <div class="wf_empty_forum">{{ forbiddenMsg | trans }}</div>
            </div>
            {% else %}

            <script src="{{ asset('bundles/yosimitsoworkingforum/js/jquery.min.js') }}"></script>
            <script src="{{ asset('bundles/yosimitsoworkingforum/js/smiley.js') }}"></script>
            <script src="{{ asset('bundles/yosimitsoworkingforum/markdown/js/bootstrap-markdown.js') }}"></script>
            <script src="{{ asset('bundles/yosimitsoworkingforum/showdown/src/showdown.js') }}"></script>
            <script src="{{ asset('bundles/yosimitsoworkingforum/showdown/src/extensions/twitter.js') }}"></script>
            <script src="{{ asset('bundles/yosimitsoworkingforum/showdown/src/extensions/github.js') }}"></script>
            <script src="{{ asset('bundles/yosimitsoworkingforum/js/nicefileinput/jquery.nicefileinput.min.js') }}"></script>
        <link rel="stylesheet"
              href="{{ asset('bundles/yosimitsoworkingforum/markdown/css/bootstrap-markdown.min.css') }}"
              type="text/css" media="all"/>

            <script>
                jQuery(document).ready(function () {
                    jQuery(".wf_textarea_post").markdown({
                        language: '{{ request.locale }}',
                        onPreview: function (e) {
                            var converter = new Showdown.converter({extensions: ['twitter', 'github']});
                            var html = converter.makeHtml(nl2br(e.getContent()), '{{ asset('bundles/yosimitsoworkingforum/') }}');
                            return html;
                        },
                        fullscreen: {enable: false}
                    });

                });
            </script>
            {% include '@YosimitsoWorkingForum/Thread/thread.js.twig' %}
            <h5 class="card-title col-7 mt-3">{{ thread.label }}</h5>

            <div class="row">
                <h7 class="ml-3 col-10">{{ thread.sublabel }}</h7>

            </div>
        <hr>
            {# ACTIONS LIST FOR MODERATOR #}
            {% if (is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_ADMIN") or is_granted("ROLE_MODERATOR")) %}
            <ul class="wf_action_list">
                {% if not thread.locked %}
                    <li>
                        <a class="bg-dark btn btn-dark btn-sm"
                           href="{{ path('workingforum_lock_thread',{'subforum_slug' : subforum.slug, 'thread_slug' : thread.slug}) }}">
                            {{ 'forum.lock' | trans }}
                        </a>
                    </li>
                {% endif %}
                {% if moveThread %}
                    <li>
                        <a class="bg-dark btn btn-dark btn-sm"
                           id="wf_move_thread_button">&rarr; {{ 'forum.move_thread' | trans }}</a>
                        {{ form_widget(moveThread.forum) }}
                    </li>
                {% endif %}
                {% if allowModeratorDeleteThread %}
                    <li>
                        <a class="bg-dark btn btn-dark btn-sm"
                           onclick="if (!confirm('{{ 'forum.confirm_delete_thread' | trans }}')) { return false; }"
                           href="{{ path('workingforum_delete_thread',{'threadSlug': thread.slug}) }}">
                            {{ 'forum.delete_thread' | trans }}
                        </a>
                    </li>
                {% endif %}
                {% if not thread.pin %}
                    <li>
                        <a class="bg-dark btn btn-dark btn-sm"
                           href="{{ path('workingforum_pin_thread',{'subforum_slug' : subforum.slug, 'thread_slug' : thread.slug}) }}">
                            {{ 'forum.pin_thread' | trans }}
                        </a>
                    </li>
                {% endif %}
            </ul>
            {% endif %}


            {% for post in post_list %}
                {% include '@YosimitsoWorkingForum/Post/post.html.twig' with {'post': post, 'thread': thread, 'parameters': parameters, 'hasAlreadyVoted': hasAlreadyVoted, 'autolock': autolock, 'loop': loop} only %}
            {% endfor %}

            {{ knp_pagination_render(post_list) }}

            {% if not thread.locked %}
            {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="wf_new_post">
                <p class="wf_post_a_message">{{ 'forum.no_message_login' | trans }}</p>
            </div>
            {% elseif autolock %}
            <div class="wf_new_post">
                <p class="wf_post_a_message">{{ 'forum.thread_too_old_locked' | trans }}</p>
            </div>
            {% else %}
            {{ form_start(form) }}
            {% embed '@YosimitsoWorkingForum/Post/textarea.html.twig' with {'form': form, 'parameters': parameters, 'submitLabelKey': 'forum.submit_post'} only %}
        {% block header %}
            <p class="wf_post_a_message">{{ 'forum.post_a_message' | trans([], 'YosimitsoWorkingForumBundle') }}</p>
        {% endblock %}
            {% block extraInput %}
                {{ form_rest(form) }}
            {% endblock %}
            {% endembed %}
            {{ form_end(form) }}
            {% endif %}
            {% else %}

            <div class="wf_new_post col-12">
                <p class="wf_post_a_message">{{ 'forum.no_message_locked' | trans }}</p>
            </div>

            {% endif %}
            {% endif %}
        {% endblock %}
    {% endblock %}