{% extends "base.html.twig" %}
{% block content %}
    <div class="container">
        <div class="row mx-auto my-5 justify-content-center">
            <div class="col-10 pt-1">
                <div class="well bg-light p-5">
                    <div class="text-center text-dark font-weight-bold h3 pb-3">
                        Enregistrement
                    </div>
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-6">{{ form_row(form.fullName) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(form.username) }}
                        </div>
                    </div>
                    {{ form_row(form.email) }}
                    {{ form_row(form.phone) }}
                    <div class="row">
                        <div class="col-6">
                            {{ form_row(form.password.first) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(form.password.second) }}
                        </div>
                    </div>
                    <div class="row justify-content-center pt-2">

                    <button type="submit" class="btn btn-primary">S'inscrire !</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    </div>
{% endblock %}