{% extends 'base.html.twig' %}

{% block content %}
    <div class="container pt-5">
        <h1>Ajouter une annonce</h1>
        <hr>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-12">{{ form_row(form.Type) }}</div>
            <div class="col-12">{{ form_row(form.state) }}</div>
            <div class="col-6">{{ form_row(form.Price) }}</div>
            <div class="col-6"><div class="pb-2">Ajouter une image</div>
                {{ form_row(form.imageFile) }}</div>
            <div class="col-6">{{ form_row(form.Marque) }}</div>
            <div class="col-6">{{ form_row(form.Model) }}</div>
            <div class="col-12">{{ form_row(form.Description) }}</div>
        </div>
        {{ form_end(form) }}
        <a href="{{ path('announce_pendulaires') }}">back to list</a>
    </div>
{% endblock %}