{% extends 'base.html.twig' %}

{% block content %}
    <div class="container pt-5">
        <h5 class="card-title mt-5">Ajouter une annonce</h5>
        <hr>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-12">{{ form_row(form.Type) }}</div>
            <div class="col-6">{{ form_row(form.region) }}</div>
            <div class="col-6">{{ form_row(form.city) }}</div>
            <div class="col-4">{{ form_row(form.Marque) }}</div>
            <div class="col-4">{{ form_row(form.Model) }}</div>
            <div class="col-4">{{ form_row(form.state) }}</div>
            <div class="col-4">{{ form_row(form.yearUlm) }}</div>
            <div class="col-4">{{ form_row(form.nbrHvol) }}</div>
            <div class="col-4">{{ form_row(form.Price) }}</div>

            <div class="col-8">{{ form_row(form.vitesseMax) }}</div>
            <div class="col-3 mt-3 toggle">
                {{ form_row(form.parachute) }}
                {{ form_row(form.transponder) }}
            </div>
            <div class="col-11 mt-3">
                {{ form_errors(form.imageFile) }}
                <div class="file-upload">
                    <div class="file-select">
                        <div class="file-select-button" id="fileName">Ajouter une image</div>
                        <div class="file-select-name" id="noFile">Pas encore de fichier ajouté...</div>
                        {{ form_widget(form.imageFile) }}
                    </div>
                </div>
            </div>
            <div class="col-1 pl-3 mt-4 plus" id="plus">
                <i class="fas fa-plus"></i>
            </div>
            <div class="col-1 mt-4 plus d-none" id="minus">
                <i class="fas fa-minus"></i>
            </div>
            <div class="col-11 d-none mt-3 d-none" id="showUpload">
                {{ form_errors(form.imageFile2) }}
                <div class="file-upload">
                    <div class="file-select">
                        <div class="file-select-button" id="fileName">Ajouter une image</div>
                        <div class="file-select-name" id="noFile2">Pas encore de fichier ajouté...</div>
                        {{ form_widget(form.imageFile2) }}
                    </div>
                </div>
            </div>
            <div class="col-1 mt-4 plus d-none" id="plus1">
                <i class="fas fa-plus"></i>
            </div>
            <div class="col-1 mt-4 plus d-none" id="minus1">
                <i class="fas fa-minus"></i>
            </div>
            <div class="col-11 d-none mt-3 d-none" id="showUpload1">
                {{ form_errors(form.imageFile3) }}
                <div class="file-upload">
                    <div class="file-select">
                        <div class="file-select-button" id="fileName">Ajouter une image</div>
                        <div class="file-select-name" id="noFile3">Pas encore de fichier ajouté...</div>
                        {{ form_widget(form.imageFile3) }}
                    </div>
                </div>
            </div>
            <div class="col-12 mt-4">{{ form_row(form.Description) }}</div>
        </div>

        {{ form_end(form) }}
        <a href="{{ path('announce_pendulaires') }}">back to list</a>
    </div>
{% endblock %}